<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="text-center mt50">
                    <h1>Welcome to Examportal</h1>
                    <button mat-raised-button color="primary" [routerLink]="['/login']" class="mr30">Login</button>
                    <button mat-raised-button color="primary" [routerLink]="['/signup']">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</div>


